[heater_bed]
heater_pin: PA3               # Pin, der mit dem Heizbett verbunden ist
sensor_type: Generic 3950      # Temperaturfühler-Typ
sensor_pin: PF3                # Pin, der mit dem Temperaturfühler verbunden ist
max_power: 0.6                 # Maximale Leistung (0.0 bis 1.0)
min_temp: 0                    # Minimale Temperatur
max_temp: 120                  # Maximale Temperatur
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769
# Adjust PWM frequency to not mess up LED lights due to AC sync
pwm_cycle_time: 0.02674 # 37.4Hz
#pwm_cycle_time: 0.02506 # 39.9Hz
