 
[gcode_macro Clean_Filament_Cold_Pull]
description: Cleaning Filament Cold Pull, Thank you Vince

variable_start_x: 35 #50
variable_start_y: 0
variable_start_z: 150

gcode:
## -- Set Extruder Temp
 {% set TEMP = params.TEMP|default(260)|float %}
## -- Resting Temp
 {% set REST_TEMP = params.REST_TEMP|default(50)|float %}
## -- Set Pulling Extruder Temp
 {% set PULL_TEMP = params.PULL_TEMP|default(130)|float %}

 {% if "xyz" not in printer.toolhead.homed_axes %}
   G28
 {% endif %}
 LED_PCT_PREHEAT
 G90                                            ; absolute positioning
 ## Move nozzle to start position
 G1 X{start_x} Y{start_y} F6000
 G1 Z{start_z} F1500

## --
    M109 S{TEMP}                ; Turn on Heaters
    M106 S128                   ; Part Cooling Fan
    G1 E50 F2000                ; Pull in Filament 
    G1 E100 F150                ; Slow Extrude
    M400
    M109 S{REST_TEMP}           ; Cooldown
    M109 S{PULL_TEMP}           ; Temp Set for pulling
    G4 P{2 * 60000}             ; Dwell for 2 min
    CLEAN_NOZZLE
    LED_OFF
#    G4 P{1 * 60000}             ; Dwell for 1 min
    M104 S0                     ; Turn Off Hotend
#    G4 P{1 * 60000}             ; Dwell for 1 min
    M106 S0                     ; Turn Off Fans
## --

