###########################
# Heater Settings         #
# 230V, 750W Bed Heater   #
# 24v, 50W Hot-end Heater #
###########################

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA3               # Pin, der mit dem Heizbett verbunden ist
#control = pid
#pid_kp = 37.653
#pid_ki = 1.050
#pid_kd = 337.466                 # Verwendung des PID-Reglers
sensor_type: Generic 3950      # Temperaturfühler-Typ
sensor_pin: PF3                # Pin, der mit dem Temperaturfühler verbunden ist
max_power: 0.6                 # Maximale Leistung (0.0 bis 1.0)
min_temp: 0                    # Minimale Temperatur
max_temp: 120                  # Maximale Temperatur

#####################################################################
#   Thermistor Generic
#####################################################################

#####################################################################
#   Extruder 1
#####################################################################

[extruder]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
#control = pid
#pid_kp = 23.226
#pid_ki = 1.421
#pid_kd = 94.934
rotation_distance: 22.4284412   #Bondtech 5mm Drive Gears
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75

max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75
max_extrude_only_accel: 1500
max_extrude_cross_section: 5

heater_pin: PA2
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
sensor_type: PT1000
sensor_pin: PF4
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 190

#####################################################################
#   Extruder 1
#####################################################################

[extruder1]
step_pin: EBB36Can: PD0
dir_pin: !EBB36Can: PD1
enable_pin: !EBB36Can: PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB36Can: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBB36Can: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

# sensor_type:MAX31865
# sensor_pin: EBB36Can: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2